{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <h2 style="text-align: center; font-weight: bold; padding: 35px">All Albums</h2>
    <ul class="alphabet">
        {% for l in flist %}
            <li class="active" onclick="location.href='/album/?name={{ l.ll }}'">{{ l.ll }}</li>
        {% endfor %}

    </ul>
</div>

<div class="row" style="margin-top: 10px" xmlns:foaf = "http://xmlns.com/foaf/spec/"
                   xmlns:artist="http://www.artists.com/artist#" typeof="artist:album">
    {% for a in albums %}
        <div class="col-md-3">
            <a href='/album/details/?name={{ a.name }}' about="http://www.artists.com/artist/{{ a.artist }}/album/{{ a.name }}">
                <img class="img-responsive img-thumbnail" src="{{ a.image }}" property="artist:imgLarge_album">
                <h5 property="foaf:name_album">{{ a.name }}</h5>
            </a>
        </div>
    {% endfor %}
</div>


{% endblock %}

{% block jspage %}

<script>

    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>

{% endblock %}