{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4" style="margin-top: 40px; text-align: center" xmlns:foaf = "http://xmlns.com/foaf/spec/" xmlns:artist="http://www.artists.com/artist#" typeof="artist:album">
        <a href="/artists/details/?name={{ artist }}" about="http://www.artists.com/{{artist}}/album/{{album_name}}">
            <h3 style="text-align: center; font-weight: bold" property="artist:artist_name">{{ artist }}</h3>
        </a>
        <img property="artist:imgLarge_album" src="{{ photo }}">
        <h3 style="text-align: center; font-weight: bold" property="foaf:name_album">{{ album_name }}</h3>
    </div>

    <div class="col-md-8" style="margin-top: 40px; text-align: justify;" about="http://www.artists.com/{{ a.Artist }}/album/{{ a.Name }}">
        <h3 style="text-align: center; font-weight: bold">Wiki</h3>
        <p property="artist:wiki"> {{ wiki }} </p>

    </div>

</div>

<div class="row">
    <div class="col-md-4" style="margin-top: 40px" xmlns:foaf = "http://xmlns.com/foaf/spec/" xmlns:artist="http://www.artists.com/artist#" typeof="artist:album">
        <ul>
            {% for tag in tags %}
            <span class="label label-danger" about="http://www.artists.com/artist/{{ artist }}/album/{{ album_name }}/tags/tag/{{ tag }}" rel="artist:tag" property="foaf:tag_name">{{ tag.name }}</span>
            {% endfor %}
            <p>
                <form role="fave" method="POST" action="/album/details/?name={{ album_name }}">
                    {% csrf_token %}
                    <button id="FavButton" onclick="showRec()" type="submit" class="btn btn-default" value="{{ album_name }}" name="faveBtn">Fave</button>
                    <button type="submit" class="btn btn-default" value="{{ album_name }}" name="delBtn">Delete</button>
                </form>
            </p>
            <p id="recommendation" style="display: none">
                <p style="font-weight: bold; font-size: large">Recommended Albums</p>
             {% for rec in recommendations %}
                 <a href="/album/details/?name={{ rec }}" style="font-weight: bold">{{ rec }}</a>
                 <br>
             {% endfor %}
            </p>
        </ul>
    </div>
    <div class="col-md-8" style="margin-top: 40px" xmlns:foaf = "http://xmlns.com/foaf/spec/" xmlns:artist="http://www.artists.com/artist#" typeof="artist:tracks">
        <h3 style="text-align: justify; font-weight: bold">Tracklist</h3>

        <table class="table table-striped" about="http://www.artists.com/artist/{{ artist }}/album/{{ album_name }}/tracks/{{track_name}}">
            <thead>
                <th>Track name</th>
                <th>Duration</th>
            </thead>
            <tbody>
                {% for track in tracks %}
                    <tr>
                    <td property="foaf:track_name"> {{ track.name }}</td>
                    <td property="artist:track_duration"> {{ track.duration }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{%  endblock %}

{% block jspage %}
    <script>
        function showRec() {
        document.getElementById('recommendation').style.display = "block";
        }
    </script>
{% endblock %}
