{% extends 'layout.html' %}

{% block content %}

    <div class="row" style="margin-top: 40px;">
        <div class="col-md-4" style="text-align: center">
            <h3 style="font-weight: bold">{{ name }}</h3>
            <img src=" {{ image }}"/>
                <p>
                <form role="fave" method="POST" action="/artists/details/?name={{ name }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default" value="{{ name }}" name="faveBtn">Fave</button>
                    <button type="submit" class="btn btn-default" value="{{ name }}" name="delBtn">Delete</button>
                </form>
            </p>
        </div>
        <div class="co-md-6" style="margin-top: 40px; text-align: justify;">
            <h3 style="text-align: center; font-weight: bold">Biography</h3>
            <p> {{ bio }} </p>
        </div>
    </div>

    <div class="row" style="margin-top: 40px">
        <h3 style="text-align: center; font-weight: bold; margin-bottom: 20px;">Top Albums</h3>
        {% for a in album%}
        <div class="col-md-4" style="text-align: center;">
            <a href='/album/details/?name={{ a.name }}'>
                <img class="img-responsive img-thumbnail" src={{ a.image }}>
                <h5>{{ a.name }}</h5>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="row" style="margin-top: 40px">
        <h3 style="text-align: center; font-weight: bold; margin-bottom: 20px;">All Albums</h3>
        {% for l in lista%}
        <div class="col-md-4" style="text-align: center;">
            <a href='/album/details/?name={{ l.name }}'>
                <img class="img-responsive img-thumbnail" src={{ l.image }}>
                <h5>{{ l.name }}</h5>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block jspage %}
     <script>
       function change() {
            var elem = document.getElementById("myButton1");
            if (elem.value=="Fave me!") elem.value = "Added";
            else elem.value = "Fave me!";
        }
    </script>
{% endblock %}
