{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

                <h3 style="text-align: center; margin-top: 40px;">Artists</h3>
            {% for a in artists %}
                <div class="col-md-3">
                    <a href='/artists/details/?name={{ a.Name }}'>
                        <img class="img-responsive img-thumbnail" src="{{ a.Image }}">
                        <h5>{{ a.Name }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

                <h3 style="text-align: center; margin-top: 40px;">Albums</h3>
            {% for a in albums %}
                <div class="col-md-3">
                    <a href='/album/details/?name={{ a.Name }}'>
                        <img class="img-responsive img-thumbnail" src="{{ a.Image }}">
                        <h5>{{ a.Name }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}